# Task 1: Basic Operations

In [1]:
# Accept two integer inputs
num1 = int(input("Enter first integer: "))
num2 = int(input("Enter second integer: "))

# Performing arithmetic operations
addition = num1 + num2
subtraction = num1 - num2
multiplication = num1 * num2
division = num1 / num2 if num2 != 0 else "Undefined (division by zero)"
modulus = num1 % num2 if num2 != 0 else "Undefined (modulus by zero)"
exponent = num1 ** num2

# Printing results using f-strings
print("\n--- Arithmetic Operations ---")
print(f"Addition: {num1} + {num2} = {addition}")
print(f"Subtraction: {num1} - {num2} = {subtraction}")
print(f"Multiplication: {num1} * {num2} = {multiplication}")
print(f"Division: {division}")
print(f"Modulus: {modulus}")
print(f"Exponentiation: {num1} ** {num2} = {exponent}")

Enter first integer:  4
Enter second integer:  5

--- Arithmetic Operations ---
Addition: 4 + 5 = 9
Subtraction: 4 - 5 = -1
Multiplication: 4 * 5 = 20
Division: 0.8
Modulus: 4
Exponentiation: 4 ** 5 = 1024

# Task 2: Working with Lists and Arrays

In [2]:
import numpy as np

# Creating a list of 10 numbers
numbers = [12, 45, 23, 67, 89, 34, 22, 10, 90, 55]

print("\n--- List Operations ---")
print("List:", numbers)

# Length
print("Length of list:", len(numbers))

# Max and Min
print("Maximum value:", max(numbers))
print("Minimum value:", min(numbers))

# Add and Remove elements
numbers.append(100)       # add
numbers.remove(23)        # remove

print("List after adding 100 and removing 23:", numbers)

# Sorting
numbers_sorted_asc = sorted(numbers)
numbers_sorted_desc = sorted(numbers, reverse=True)

print("Ascending order:", numbers_sorted_asc)
print("Descending order:", numbers_sorted_desc)

--- List Operations ---
List: [12, 45, 23, 67, 89, 34, 22, 10, 90, 55]
Length of list: 10
Maximum value: 90
Minimum value: 10
List after adding 100 and removing 23: [12, 45, 67, 89, 34, 22, 10, 90, 55, 100]
Ascending order: [10, 12, 22, 34, 45, 55, 67, 89, 90, 100]
Descending order: [100, 90, 89, 67, 55, 45, 34, 22, 12, 10]

# Task 3: Dictionaries and Sets

In [3]:
print("\n--- Dictionary and Set Operations ---")

# Create dictionary
student = {
    "name": "Bhagyalaxmi",
    "age": 22,
    "course": "Data Science",
    "marks": 85
}

# Print key-value pairs
for key, value in student.items():
    print(f"{key}: {value}")

# Add new key
student["grade"] = "A"
print("\nUpdated Dictionary:", student)

# Create a set of unique courses
courses = {"Python", "Data Science", "AI", "Python"}  # duplicates removed
print("Unique Courses Set:", courses)

# Set operations
setA = {1, 2, 3, 4}
setB = {3, 4, 5, 6}

print("Union:", setA | setB)
print("Intersection:", setA & setB)
print("Difference (A - B):", setA - setB)

--- Dictionary and Set Operations ---
name: Bhagyalaxmi
age: 22
course: Data Science
marks: 85

Updated Dictionary: {'name': 'Bhagyalaxmi', 'age': 22, 'course': 'Data Science', 'marks': 85, 'grade': 'A'}
Unique Courses Set: {'AI', 'Python', 'Data Science'}
Union: {1, 2, 3, 4, 5, 6}
Intersection: {3, 4}
Difference (A - B): {1, 2}

# Task 4: File Handling

In [5]:
print("\n--- File Handling ---")

# Create and write to file
with open("student_data.txt", "w") as f:
    f.write("Asha, Data Science, 76\n")
    f.write("Ravi, Python, 65\n")
    f.write("Kiran, AI, 89\n")
    f.write("Meena, ML, 92\n")
    f.write("Sanjay, Deep Learning, 55\n")

# Read file and display students with marks > 75
print("Students with marks above 75:")

with open("student_data.txt", "r") as f:
    for line in f:
        name, course, marks = line.strip().split(", ")
        if int(marks) > 75:
            print(name, "-", course, "-", marks)

--- File Handling ---
Students with marks above 75:
Asha - Data Science - 76
Kiran - AI - 89
Meena - ML - 92